body {
    background: url("/images/bcg.jpg") no-repeat fixed center center / cover #e7e7e7;
    color: #fff;
}

#container {
    margin: 15em auto;
    width: 60%;
    text-align: center;
    background-color: hsla(225, 18%, 21%, 0.5);;
    border-radius: 20px;
    border: 1px solid #3B4154;
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    
}

#content > h1 {
    color: #EDF8FF;
    font-size: 3em;
    
}

ul#timer span {
    background: none repeat scroll 0 0 #15041b;
    border-radius: 30em;
    color: #fff;
    display: inline-block;
    font-size: 2.8em;
    font-weight: bold;
    height: 80px;
    margin-top: 40px;
    padding: 29px 23px 16px 22px;
    text-align: center;
    width: 80px;
}
ul#timer li {
    display: inline-block;
    width: 19%;
}

p {
    font-size: 30px;
}
